@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Integer.Web.ViewModels.EventoViewModel

@using SquishIt.Framework;

<div id="divCalendar" style="margin-left:auto; margin-right:auto;">
    <button id="btnSchedule" class="btn btn-info btn-large" data-toggle="modal" data-target="#divFormEvent">Agendar evento</button>
    <h3 id="calendarTitle" style="text-align:center; margin-left:auto; margin-right:auto;"></h3>
</div>

<div id="divFormEvent" class="modal hide" style="width:750px;position:absolute;">
    @using (Html.BeginForm("Save", "Calendario", FormMethod.Post, new { id = "frmEvent", @class = "well" })) { 
        <div class="row">
            <div class="span3">
                <label>Nome @Html.ValidationMessageFor(m => m.Nome)</label>
                @Html.TextBoxFor(m => m.Nome, new { @class = "span3" })
                
                <label>Descrição @Html.ValidationMessageFor(m => m.Descricao)</label>
                @Html.TextAreaFor(m => m.Descricao, new { @class = "input-xlarge span3", style="height:84px;", rows = 4, placeholder = "ex.: 'telefones p/ contato', 'venha com a blusa do grupo', 'endereço' etc" })
            </div>
            <div class="span3">
                <label>Tipo @Html.ValidationMessageFor(m => m.Tipo)</label>
                @Html.DropDownListFor(m => m.Tipo, new SelectList(ViewBag.Tipos, "Id", "Nome"), "Selecione", new { @class = "span3" })
                
                <label>Começa em @Html.ValidationMessageFor(m => m.DataInicio)</label>
                <div class="span3" style="margin:0px;">
                    @Html.TextBoxFor(m => m.DataInicio, new { id = "txtDateBegin", size = 16, @class = "datetimeField span2" })
                </div>
                
                <label>Termina em @Html.ValidationMessageFor(m => m.DataFim)</label>
                <div class="span3" style="margin:0px;">
                    @Html.TextBoxFor(m => m.DataFim, new { id = "txtDateEnd", size = 16, @class = "datetimeField span2" })
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px 0px 10px 0px;">
            <div class="span3">
                <button type="button" id="btnReserveLocal" class="btn btn-info dropdown-toggle"><i class="icon-plus-sign icon-white"></i> Reservar Local</button>
            </div>
        </div>
        <div id="reservedLocals" style="max-height:192px; overflow-y:auto;">
            
        </div>
        
        <div class="row" style="margin-top:20px;">
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">Cancelar</a>
                <button type="submit" data-loading-text="Salvando..." class="btn btn-primary" style="margin-left:20px;">Salvar</button>
            </div>
        </div>
    }
</div>

@section Styles {
    @MvcHtmlString.Create(Bundle.Css()
        .Add("~/Content/extCalendar/css/extensible-all.css")
        .Add("~/Content/Event.css")
        .ForceRelease()
        .Render("~/Content/squished_calendar_#.css"))
    <style type="text/css" rel="stylesheet">
        .ext-cal-evt
        {
            padding: 1px 1px 1px 5px !important;
            }
        .ext-cal-ev-spanleft
        {
            margin-left:0px !important;
            }        
        .ext-cal-ev-spanright
        {
            float:none !important;
            margin-left:0px !important;
            }
        .ext-cal-ev-spanboth 
        {
            float:none !important;
            margin-left:0px !important;
            }
        .ext-evt-block
        {
            display: block !important;
            }
    </style>
}
    
@section Scripts {    
    @MvcHtmlString.Create(Bundle.JavaScript()
        .Add("~/Scripts/Plugins/extCalendar/extensible-core.js")
        .Add("~/Scripts/Plugins/extCalendar/recurrence-debug.js")
        .Add("~/Scripts/Plugins/extCalendar/calendar-debug.js")
        .Add("~/Scripts/Plugins/extCalendar/locale/ext-lang-pt_BR.js")
        .Add("~/Scripts/CalendarView/calendar.js")
        .Add("~/Scripts/CalendarView/event.js")
        .ForceRelease()
        .Render("~/Scripts/squished_calendar_#.js"))
    <script type="text/javascript">
        $().ready(function() {
            $.getJSON('@Url.Action("Eventos", "Calendario")').success(function (events) {
                initCalendar(events);
            });
        });
    </script>
}






