@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/extCalendar/css/extensible-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/extCalendar/css/calendar.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .ext-cal-ev-spanleft
        {
            margin-left:0px !important;
            }        
        .ext-cal-ev-spanright
        {
            float:none !important;
            margin-left:0px !important;
            }
        .ext-cal-ev-spanboth 
        {
            float:none !important;
            margin-left:0px !important;
            }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/extensible-core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/calendar-debug.js")" type="text/javascript"></script>
    <script type="text/javascript">
        Ext.onReady(function () {
            var getEvents = $.getJSON('@Url.Action("Eventos", "Calendario")');

            getEvents.success(function (events) {
                Ext.create('Extensible.calendar.CalendarPanel', {
                    eventStore: Ext.create('Extensible.calendar.data.MemoryEventStore', {
                        data: events
                    }),
                    renderTo: 'divCalendar',
                    width: 800,
                    height: 500,
                    readOnly: false,

                    showMultiWeekView: false,
                    showNavJump: true,

                    todayText: 'Hoje',
                    jumpToText: 'Navegar:',
                    goText: 'Ir',
                    dayText: 'Dia',
                    weekText: 'Semana',
                    monthText: 'Mês'
                });
            });
        });
    </script>
}

<div id="divCalendar"></div>
