@{
    ViewBag.Title = "Calendario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {

    <!--jQueryUI-->
    <link href="@Url.Content("~/Content/jQueryUI/jquery.ui.theme.css")" rel="Stylesheet" type="text/css" />
    <!--jQueryUI-->
    <!--DatePicker-->
    <link href="@Url.Content("~/Content/calendar/dp.min.css")" rel="Stylesheet" type="text/css" />
    <!--DatePicker-->
    <!--calendário-->
    <link href="@Url.Content("~/Content/calendar/calendar.min.css")" rel="Stylesheet" type="text/css" />
    <!--calendário-->
    <!--ui dialog-->    
    <link href="@Url.Content("~/Content/jQueryUI/jquery.ui.core.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jQueryUI/jquery.ui.dialog.css")" rel="Stylesheet" type="text/css" />
    <!--ui dialog-->
    <!--toolTip2-->
    <link href="@Url.Content("~/Content/toolTip2/jquery.tooltip.css")" rel="Stylesheet" type="text/css" />
    <!--toolTip2-->

    <link href="@Url.Content("~/Content/FormPrincipal.css")" rel="Stylesheet" type="text/css" />

    <!--DateFormat-->
    <script src="@Url.Content("~/Scripts/Plugins/calendar/dateFormat.min.js")" type="text/javascript"></script>
    <!--DateFormat-->

    <!--DatePicker-->
    <script src="@Url.Content("~/Scripts/Plugins/calendar/Common.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/calendar/datepicker_lang_BR.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/calendar/jquery.datepicker.min.js")" type="text/javascript"></script>
    <!--DatePicker-->

    <!--calendário-->
    <script src="@Url.Content("~/Scripts/Plugins/calendar/wdCalendar_lang_BR.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/calendar/jquery.calendar.js")" type="text/javascript"></script>
    <!--calendário-->

    <!--toolTip2-->
    <script src="@Url.Content("~/Scripts/Plugins/toolTip2/jquery.dimensions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/toolTip2/jquery.tooltip.min.js")" type="text/javascript"></script>
    <!--toolTip2-->

    <!--dialog-->
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.bgiframe.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.ui.widget.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.ui.mouse.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.ui.draggable.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.ui.position.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/jQueryUI/jquery.ui.dialog.min.js")" type="text/javascript"></script>
    <!--dialog-->
    
    <!--EventoForm-->
    <!--DateTimePicker-->
    <link href="@Url.Content("~/Content/dateTimePicker/dark.datetimepicker.min.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Plugins/dateTimePicker/ui.datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/dateTimePicker/ui.datetimepicker-pt-BR.min.js")" type="text/javascript"></script>
    <!--DateTimePicker-->

    <script src="@Url.Content("~/Scripts/Calendario/EventoForm.js")" type="text/javascript"></script>
    <!--EventoForm-->
    

    <script type="text/javascript">
        $(document).ready(function () {
            ConfiguraECarregaCalendario();
            // TODO retornar popup
            //ConfiguraPopupEvento();
            ConfiguraFiltroGrupo();
        });

        function ConfiguraECarregaCalendario() {
            var isReadonly = @Request.IsAuthenticated.ToString().ToLower()

            ConfiguraBarraDeFerramentasDoCalendario();

            var view = "month";

            var DATA_FEED_URL = "";
            var op = {
                readonly: isReadonly,
                view: view,
                theme: 3,
                showday: new Date(),
                ViewCmdhandler: View,
                onWeekOrMonthToDay: wtd,
                autoload: false, 
                url: "/integer2/Calendario/ObterEventos",
                method: "get",
                quickAddHandler: function (param) {
                    AbriFormCadastroEvento(param);
                },
                quickUpdateUrl: DATA_FEED_URL + "?method=update",
                quickDeleteUrl: DATA_FEED_URL + "?method=remove",
                weekstartday: 0,
                hasAllDayEvents: false,
                onBeforeRequestData: function () {
                    p.extParam = ObterParametrosFiltro()
                },
                onAfterRequestData: function () {
                    if (p && p.datestrshow) {
                        $("#txtdatetimeshow").text(p.datestrshow);
                    }
                }
            };
            var $dv = $("#calhead");
            var _MH = document.documentElement.clientHeight;
            var dvH = $dv.height() + 2;
            op.height = _MH - 130; // TODO: era op.height = _MH - dvH;
            
            var p = $("#gridcontainer").bcalendar(op).BcalGetOp();
            $("#caltoolbar").noSelect();
            // Carrega o calendário pela primeira vez
            $("#gridcontainer").reload();

            // TODO: ver defeito deste datePicker
            //            $("#hdtxtshow").datepicker({ picker: "#txtdatetimeshow", showtarget: $("#txtdatetimeshow"), defaultDate: op.showday,
            //                onReturn: function (r) {
            //                    var p = $("#gridcontainer").gotoDate(r).BcalGetOp();
            //                    if (p && p.datestrshow) {
            //                        $("#txtdatetimeshow").text(p.datestrshow);
            //                    }
            //                }
            //            });
        }
        
        function View(data) {
            var id = data[0];
            var url = encodeURI("/integer2/Calendario/EditarEvento?id=" + id);

            var divEvento = $('#divEvento');
            divEvento.html("");
            divEvento.load(url).queue(function () {
                $(this).dialog("open");
                $(this).dequeue();
            });
        }

        function wtd(p) {
            if (p && p.datestrshow) {
                $("#txtdatetimeshow").text(p.datestrshow);
            }
            $("#caltoolbar div.fcurrent").each(function () {
                $(this).removeClass("fcurrent");
            })
            $("#showdaybtn").addClass("fcurrent");
        }

        function ConfiguraBarraDeFerramentasDoCalendario() {
            //to show day view
            $("#showdaybtn").click(function (e) {
                //document.location.href="#day";
                $("#caltoolbar div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $(this).addClass("fcurrent");
                var p = $("#gridcontainer").swtichView("day").BcalGetOp();
                if (p && p.datestrshow) {
                    $("#txtdatetimeshow").text(p.datestrshow);
                }
            });

            //to show week view
            $("#showweekbtn").click(function (e) {
                //document.location.href="#week";
                $("#caltoolbar div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $(this).addClass("fcurrent");
                var p = $("#gridcontainer").swtichView("week").BcalGetOp();
                if (p && p.datestrshow) {
                    $("#txtdatetimeshow").text(p.datestrshow);
                }
            });

            //to show month view
            $("#showmonthbtn").click(function (e) {
                //document.location.href="#month";
                $("#caltoolbar div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $(this).addClass("fcurrent");
                var p = $("#gridcontainer").swtichView("month").BcalGetOp();
                if (p && p.datestrshow) {
                    $("#txtdatetimeshow").text(p.datestrshow);
                }
            });

            $("#showreflashbtn").click(function (e) {
                $("#gridcontainer").reload();
            });

            //go to today
            $("#showtodaybtn").click(function (e) {
                var p = $("#gridcontainer").gotoDate().BcalGetOp();
                if (p && p.datestrshow) {
                    $("#txtdatetimeshow").text(p.datestrshow);
                }


            });
            //previous date range
            $("#sfprevbtn").click(function (e) {
                var p = $("#gridcontainer").previousRange().BcalGetOp();
                if (p && p.datestrshow) {
                    $("#txtdatetimeshow").text(p.datestrshow);
                }

            });
            //next date range
            $("#sfnextbtn").click(function (e) {
                var p = $("#gridcontainer").nextRange().BcalGetOp();
                if (p && p.datestrshow) {
                    $("#txtdatetimeshow").text(p.datestrshow);
                }
            });

            //Add a new event
            $("#faddbtn").live("click", function (e) {
                AbriFormCadastroEvento();
            });

            $('#legenda').attr('title', "<div style='background-color:#39C03C ;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Paroquial\
                                         <div style='border-bottom: 1px dotted black;padding-bottom:3px;'><div style='background-color:#D8D8D8 ;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Conselho Pastoral</div>\
                                         <div style='background-color:#3971C0;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Oração e Espiritualidade\
                                         <br/><div style='background-color:#E0C142;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Prestação de Serviço\
                                         <br/><div style='background-color:#399EC1;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Família\
                                         <br/><div style='background-color:#E04442;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Sacramento\
                                         <br/><div style='background-color:#8B25B9;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Liturgia e Música\
                                         <br/><div style='background-color:#9A9A9A;margin-top: 3px;margin-right: 5px;' class='itemLegenda'>&nbsp;</div>Juventude");

            $('#legenda').tooltip({ 
                track: true, 
                fade: true,
                delay: 0, 
                showURL: false, 
                showBody: " - ",  
                fixPNG: true, 
                opacity: 1, 
                left: -200,
                extraClass: "legenda" 
            });

            //Imprimir
            /*$("#btnImprimir").live("click", function (e) {
                Imprimir();
            });*/

            CarregaFiltroGrupos();
        }

        function AbriFormCadastroEvento(param) {
            var nome = "";
            var dataInicio = "";
            var dataFim = "";
            if (param) {
                nome = param[0].value;
                dataInicio = param[1].value;
                dataFim = param[2].value;
            }
            var url = encodeURI("/integer2/Calendario/CriarEvento?Nome=" + nome + "&DataInicio=" + dataInicio + "&DataFim=" + dataFim);

            var divEvento = $('#divEvento');
            divEvento.html("");
            divEvento.load(url).queue(function () {
                $(this).dialog("open");
                $(this).dequeue();
            });
        }

        function ConfiguraPopupEvento() {
            $('#divEvento').dialog({
                autoOpen: false,
                show: 'slide',
                //bgiframe: true,
                closeOnEscape: false,
                modal: true,
                resizable: false,
                width: 750,
                dialogClass: "formulario",
                position: ["center", 50],
                overlay: { opacity: 0.8 },
                title: 'Evento'
            });
        }

        function CalendarioAlterado() {
            $('#divEvento').dialog('close');
            $("#gridcontainer").reload();
        }

        function ObterParametrosFiltro()
        {
            var idGrupoSelecionado = $("#ddlFiltroGrupo").val();
            if (idGrupoSelecionado == 0)
                idGrupoSelecionado = null;
            else
                return [{name:"idGrupo", value:idGrupoSelecionado}];
        }

        function CarregaFiltroGrupos()
        {
            $.ajax({
                type: "GET",
                url: "/integer2/Calendario/ObterGrupos",
                dataType: "json",
                success: function(data) {
                    var listaDeGrupos = data;
                    $.each(listaDeGrupos, function(key, value)
                    {                               
                            $('#ddlFiltroGrupo').
                                append($("<option></option>").
                                attr("value",value.Id).
                                text(value.Nome)); 
                    });
                }
            });
        }

        function ConfiguraFiltroGrupo() 
        {
            $('#ddlFiltroGrupo').live("change", function () {
                $("#gridcontainer").BcalGetOp().eventItems = [];
                $("#gridcontainer").BcalGetOp().loadDateR = [];
                $("#gridcontainer").reload();
            });
        }

        function Imprimir() 
        {
            var param = ObterParametrosFiltro();
                    
             $.ajax({
                type: "GET",
                url: "Calendario/Imprimir",
                data: param
            });
        }
    </script>

}

<h2>Calendario</h2>


<div style="margin-top:10px;">
    <div id="calhead" style="padding-left:1px;padding-right:1px;">          
        <div id="loadingpannel" class="ptogtitle loadicon" style="display: none;">Carregando...</div>
        <div id="errorpannel" class="ptogtitle loaderror" style="display: none;">Desculpe, não foi possível carregar os dados.</div>
    </div>    
    <div id="caltoolbar" class="ctoolbar">
        @if (Request.IsAuthenticated)
        { 
        <div id="faddbtn" class="fbutton">
            <div><span title='Clique para agendar novo evento' class="addcal">Agendar Evento</span></div>
        </div>
        <div class="btnseparator"></div>
        } 

        <div id="showtodaybtn" class="fbutton">
            <div><span title='Clique para exibir o dia de hoje' class="showtoday">Hoje</span></div>
        </div>
                
        <div class="btnseparator"></div>
        <div id="showdaybtn" class="fbutton">
            <div><span title='Dia' class="showdayview">Dia</span></div>
        </div>
        <div  id="showweekbtn" class="fbutton">
            <div><span title='Semana' class="showweekview">Semana</span></div>
        </div>
        <div  id="showmonthbtn" class="fbutton fcurrent">
            <div><span title='Mês' class="showmonthview">Mês</span></div>
        </div>
                
        <div class="btnseparator"></div>
        <div  id="showreflashbtn" class="fbutton">
            <div><span title='Recarregar eventos' class="showdayflash">Recarregar</span></div>
        </div>
                
        <div class="btnseparator"></div>
        <div id="sfprevbtn" title="Anterior" class="fbutton">
            <span class="fprev"></span>
        </div>
        <div id="sfnextbtn" title="Próximo" class="fbutton">
            <span class="fnext"></span>
        </div>
        <div class="fshowdatep fbutton">
                <div>
                    <input type="hidden" name="txtshow" id="hdtxtshow" />
                    <span id="txtdatetimeshow">Carregando</span>
                </div>
        </div>

        <div style="float:right; padding-right:10px; cursor: pointer;">
                    
                <!--<div class="btnseparator"></div>
                <div id="btnImprimir" class="fbutton">
                    <a href="Calendario/Imprimir">Imprimir</a>
                </div>-->

            <div class="btnseparator" style="margin-right:3px;"></div>
            <div id="filtro" style="float:left;padding-right:10px;padding-top:3px;">
                <span style="float:left;">Grupo:</span>
                <select id="ddlFiltroGrupo" style="width:200px;float:right;">
                    <option value="0">Todos</option>
                </select>
            </div>
            <div class="btnseparator" style="margin-right:3px;"></div>

            <span id="legenda">Legenda</span>
        </div>
        <div class="clear"></div>
    </div>
</div>
    
<div style="padding:1px;>
    <div class="t1 chromeColor">
        &nbsp;</div>
    <div class="t2 chromeColor">
        &nbsp;</div>
    <div id="dvCalMain" class="calmain printborder">
        <div id="gridcontainer" style="overflow-y: visible;">
        </div>
    </div>
    <div class="t2 chromeColor">

        &nbsp;</div>
    <div class="t1 chromeColor">
        &nbsp;
    </div>   
</div>

<div id="divEvento"></div>

