@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Integer.Web.ViewModels.EventoViewModel

@section Styles {
    <link href="@Url.Content("~/Content/extCalendar/css/extensible-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/extCalendar/css/calendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Event.css")" rel="stylesheet" type="text/css" />   
    <style type="text/css">
        .ext-cal-evt
        {
            padding: 1px 1px 1px 5px !important;
            }
        .ext-cal-ev-spanleft
        {
            margin-left:0px !important;
            }        
        .ext-cal-ev-spanright
        {
            float:none !important;
            margin-left:0px !important;
            }
        .ext-cal-ev-spanboth 
        {
            float:none !important;
            margin-left:0px !important;
            }
    </style>
}
    
@section Scripts {    
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/extensible-core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/calendar-debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/locale/ext-lang-pt_BR.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('.btn-group').button();

            $('#btnSchedule').click(function () {
                $('#divFormEvent').modal('show');
            });

            setDateTimePicker($('#txtDateBegin'));
            setDateTimePicker($('#txtDateEnd'));
        });

        Ext.onReady(function () {
            var getEvents = $.getJSON('@Url.Action("Eventos", "Calendario")');

            var calendarWidth = 810;
            var startDate = new Date();

            getEvents.success(function (events) {
                Ext.create('Extensible.calendar.CalendarPanel', {
                    eventStore: Ext.create('Extensible.calendar.data.MemoryEventStore', {
                        data: events
                    }),
                    startDate: startDate,
                    renderTo: 'divCalendar',
                    width: calendarWidth,
                    height: 520,

                    readOnly: false,

                    showMultiWeekView: false,
                    showNavJump: true,

                    todayText: 'Hoje',
                    jumpToText: 'Navegar:',
                    goText: 'Ir',
                    dayText: 'Dia',
                    weekText: 'Semana',
                    monthText: 'Mês',

                    listeners: {
                        'datechange': {
                            fn: function (panel, startDate, viewSart, viewEnd) {
                                setCalendarTitle(startDate);
                            },
                            scope: this
                        },
                        'dayclick': {
                            fn: function (panel, date, allDay, el) {
                                showFormEvent(date, el);
                                return false;
                            },
                            scope: this
                        }
                    }
                });
            });

            $("#calendarTitle").width(calendarWidth);
            $("#divCalendar").width(calendarWidth);

            setCalendarTitle(startDate);
        });

        function setCalendarTitle(date) {
            $("#calendarTitle").html(Ext.Date.format(date, 'F'));
        }

        function setDateTimePicker(element) {
            element.datetimepicker({
                hourMin: 7,
                hourMax: 22,
                hourGrid: 2,
	            minuteGrid: 10,
                prevText: '',
                nextText: ''
            });
        }

        $('#timeMorning').tooltip({ placement: 'bottom' });
        $('#timeAfternoon').tooltip({ placement: 'bottom' });
        $('#timeEvening').tooltip({ placement: 'bottom' });

    </script>
}

<div id="divCalendar" style="margin-left:auto; margin-right:auto;">
    <button id="btnSchedule" class="btn btn-info btn-large" >Agendar evento</button>
    <h3 id="calendarTitle" style="text-align:center; margin-left:auto; margin-right:auto;"></h3>
</div>

<div id="divFormEvent" class="modal hide" style="width:750px;">
    @using (Html.BeginForm("Save", "Calendario", FormMethod.Post, new { id = "frmEvent", @class = "well" })) { 
        <div class="row">
            <div class="span3">
                <label>Nome</label>@Html.ValidationMessageFor(m => m.Nome)
                @Html.TextBoxFor(m => m.Nome, new { @class = "span3" })
                
                <label>Descrição</label>@Html.ValidationMessageFor(m => m.Descricao)
                @Html.TextAreaFor(m => m.Descricao, new { @class = "input-xlarge span3", style="height:79px;", rows = 4, placeholder = "ex.: 'telefones p/ contato', 'venha com a blusa do grupo', 'endereço' etc" })
            </div>
            <div class="span3">
                <label>Tipo</label>@Html.ValidationMessageFor(m => m.Tipo)
                @Html.DropDownListFor(m => m.Tipo, new SelectList(ViewBag.Tipos, "Id", "Nome"), "Selecione", new { @class = "span3" })
                <div class="row">
                    <label>Começa em</label>@Html.ValidationMessageFor(m => m.DataInicio)
                    <div class="span3" style="margin:0px;">
                        @Html.TextBoxFor(m => m.DataInicio, new { id= "txtDateBegin", size = 16, @class = "span2" })
                    </div>
                </div>
                <div class="row">
                    <label>Termina em</label>@Html.ValidationMessageFor(m => m.DataFim)
                    <div class="span3" style="margin:0px;">
                        @Html.TextBoxFor(m => m.DataFim, new { id = "txtDateEnd", size = 16, @class = "span2" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="span3">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Reservar Locais <span class="caret"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">Cancelar</a>
                <button type="submit" class="btn btn-primary" style="margin-left:20px;">Salvar</button>
            </div>
        </div>
    }
</div>

