@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Integer.Web.ViewModels.EventoViewModel

@section Styles {
    <link href="@Url.Content("~/Content/extCalendar/css/extensible-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/extCalendar/css/calendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Event.css")" rel="stylesheet" type="text/css" />   
    <style type="text/css">
        .ext-cal-evt
        {
            padding: 1px 1px 1px 5px !important;
            }
        .ext-cal-ev-spanleft
        {
            margin-left:0px !important;
            }        
        .ext-cal-ev-spanright
        {
            float:none !important;
            margin-left:0px !important;
            }
        .ext-cal-ev-spanboth 
        {
            float:none !important;
            margin-left:0px !important;
            }
    </style>
}
    
@section Scripts {    
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/extensible-core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/calendar-debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/extCalendar/locale/ext-lang-pt_BR.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('.btn-group').button();

            $('#btnSchedule').click(function () {
                $('#divFormEvent').modal('show');
            });
        });

        Ext.onReady(function () {
            var getEvents = $.getJSON('@Url.Action("Eventos", "Calendario")');

            var calendarWidth = 810;
            var startDate = new Date();

            getEvents.success(function (events) {
                Ext.create('Extensible.calendar.CalendarPanel', {
                    eventStore: Ext.create('Extensible.calendar.data.MemoryEventStore', {
                        data: events
                    }),
                    startDate: startDate,
                    renderTo: 'divCalendar',
                    width: calendarWidth,
                    height: 520,

                    readOnly: false,

                    showMultiWeekView: false,
                    showNavJump: true,

                    todayText: 'Hoje',
                    jumpToText: 'Navegar:',
                    goText: 'Ir',
                    dayText: 'Dia',
                    weekText: 'Semana',
                    monthText: 'Mês',

                    listeners: {
                        'datechange': {
                            fn: function (panel, startDate, viewSart, viewEnd) {
                                setCalendarTitle(startDate);
                            },
                            scope: this
                        },
                        'dayclick': {
                            fn: function (panel, date, allDay, el) {
                                showFormEvent(date, el);
                                return false;
                            },
                            scope: this
                        }
                    }
                });
            });

            $("#calendarTitle").width(calendarWidth);
            $("#divCalendar").width(calendarWidth);

            setCalendarTitle(startDate);
        });

        function setCalendarTitle(date) {
            $("#calendarTitle").html(Ext.Date.format(date, 'F'));
        }

        $('#timeMorning').tooltip({ placement: 'bottom' });
        $('#timeAfternoon').tooltip({ placement: 'bottom' });
        $('#timeEvening').tooltip({ placement: 'bottom' });

    </script>
}

<div id="divCalendar" style="margin-left:auto; margin-right:auto;">
    <button id="btnSchedule" class="btn btn-info btn-large" >Agendar evento</button>
    <h3 id="calendarTitle" style="text-align:center; margin-left:auto; margin-right:auto;"></h3>
</div>

<div id="divFormEvent" class="modal hide" style="width:750px;">
    @using (Html.BeginForm("Save", "Calendario", FormMethod.Post, new { id = "frmEvent", @class = "well" })) { 
        <div class="row">
            <div class="span3">
                <label>Nome</label>
                @Html.TextBoxFor(m => m.Nome, new { @class = "span3" })
                @Html.ValidationMessageFor(m => m.Nome)

                <label>Descrição</label>
                <textarea class="input-xlarge span3" rows="4" placeholder="ex.: 'telefones p/ contato', 'venha com a blusa do grupo', 'endereço' etc"></textarea>
            </div>
            <div class="span3">
                <label>Tipo</label>
                <select class="span3"></select>
                
                <label>&nbsp;</label>
                <label style="float:left;">Dia&nbsp;</label>
                <div class="input-append">
                    <input class="span2" id="txtDate" size="16" type="text"><button class="btn icon-calendar" type="button">&nbsp;</button>
                </div>
                <div class="controls">
                    <div class="input-append">
                        <input class="span2" id="appendedInput" size="16" type="text"><button class="add-on icon-calendar">&times;</button>
                    </div>
                    <span class="help-inline">Here's more help text</span>
                </div>
                
                <label>Horário</label>
                <div class="btn-group pull-left" style="float:left;" data-toggle="buttons-checkbox">
                    <button id="timeMorning" title='6h às 12h' class="btn">Manhã</button>
                    <button id="timeAfternoon" title='12h às 18h' class="btn">Tarde</button>
                    <button id="timeEvening" title='18h às 22h' class="btn">Noite</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    }
</div>

